:root {
    --primary-color: #24ddd1;
    --text-color: rgb(83, 69, 69);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  body {
    background-color: #bef8c6;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Arial";
  }
  
  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 16px 14px;
    background-image: linear-gradient(#eb8282, #ed95a6, #eaaac4, #e4bfd9, #e2d3e6, #e1dbef, #e0e2f7, #dfeafe, #c6edff, #a3f2ff, #7cf7ff, #5ffbf1);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 2px solid #eb8282;
  }
  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 13px;
  }
  
  header h2 {
    color: var(--text-color);
    font-size: 22px;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
 

  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-size: cover;
    margin: auto;
    
  }
  


  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
  }
  
  .control .btn {
    color: #EB8282;
    padding: 18px;
    font-size: 18px;
  }
  .control .btn:hover {
    filter: brightness(125%);
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  .control .btn-repeat, .control .btn-random {
    color: #94d0ec;
  }
  
  .control .btn.active {
    color: #e46b6b;
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EB8282;
  }
  
  /* .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #e46b6b;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  } */

  /* .progress:hover {
    opacity: 1;
  }
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance:none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e46b6b;
    
    cursor: pointer;
    position: relative;
  } */

  
  .progress {
    width: 100%;
    height: 6px;
    position: relative;
    background-color: #f3e8e8;
    cursor: pointer;
  }

  .progress:hover {
    filter: brightness(125%);
  }
  .progress::before {
    content: '';
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #EB8282;
    left: .0em;
    top: .0em;
    bottom: .0em;
    width: calc(var(--width, 0) * 1%);
    min-width: 0%;
    max-width: 100%;
  }
  /* .bar {
    width: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #EB8282;
  } */
  /* PLAYLIST */
  .playlist {
    margin-top: 370px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 15px;
    background-color: rgb(195, 250, 248);
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #adeeea;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(10, 10, 10, 0.1);
  }
  .song:hover {
    filter: brightness(105%);
  }
  .song.active {
    border-radius: 20px;
    background: linear-gradient(to bottom, #e07187,#e7a4b1, #8ee3e9, #5ffbf1);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 18px;
    color: var(--text-color);
  }
  
  .song .author {
    font-size: 15px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }
  